interfaces {
    ethernet eth0 {
        address 10.15.15.207/24
        hw-id 00:50:56:9e:7a:8d
    }
    ethernet eth2 {
        address 10.90.1.254/24
        hw-id 00:50:56:9e:2a:01
    }
    ethernet eth3 {
        address 10.90.2.254/24
        hw-id 00:50:56:9e:3e:13
    }
    ethernet eth4 {
        address 10.90.10.254/24
        hw-id 00:50:56:9e:1c:92
    }
    loopback lo {
    }
}
nat {
    source {
        rule 100 {
            outbound-interface eth0
            translation {
                address masquerade
            }
        }
    }
}
service {
    ssh {
        port 22
    }
}
system {
    config-management {
        commit-revisions 100
    }
    console {
        device ttyS0 {
            speed 115200
        }
    }
    host-name vyos
    login {
        user vyos {
            authentication {
                encrypted-password $6$ZzbNSkBMynro0fR$pTXkbQ52S/42INaOQsduB8pgXUJh.GgKT3.17CTWyPKakO3UPrtYkHngB7TxRSm8JN8tewhO8HdSQJxp4/i4c1
                plaintext-password ""
            }
            level admin
        }
    }
    ntp {
        server 0.pool.ntp.org {
        }
        server 1.pool.ntp.org {
        }
        server 2.pool.ntp.org {
        }
    }
    syslog {
        global {
            facility all {
                level info
            }
            facility protocols {
                level debug
            }
        }
    }
}


/* Warning: Do not remove the following line. */
/* === vyatta-config-version: "broadcast-relay@1:cluster@1:config-management@1:conntrack@1:conntrack-sync@1:dhcp-relay@2:dhcp-server@5:dns-forwarding@2:firewall@5:interfaces@4:ipsec@5:l2tp@2:mdns@1:nat@4:ntp@1:pptp@1:qos@1:quagga@4:snmp@1:ssh@1:system@15:vrrp@2:vyos-accel-ppp@2:wanloadbalance@3:webgui@1:webproxy@2:zone-policy@1" === */
/* Release version: 1.3-rolling-202001040217 */
